#div_fb_comments{
	clear:both;
}

.fb-comments-container {overflow: hidden;}
.fb-comments{overflow: hidden !important;}
.fb-comments,fb-comments * {width: 100% !important; clear:both; z-index:0; } 
#overlay {	position: absolute; text-align: center; background-color: transparent; z-index: 2147483647;	width: 100%; margin-top: -120px;}
#cont_publi{ width: 100%; max-width: 728px; min-width: 234px; margin: 0 auto; }			
#a_publi{ width: 80%;}
#img_publi{ width: 80%;	}		
#playertdGAEmcmjOwn {	z-index: 1;	}
			 
/* cotrolador*/
/* .jw-flag-controls-disabled{display:true !important;}		 */ 
/* .jw-controlbar{ display:block !important;}			*/
/* .jw-controls { display:block !important;width:auto; } */
/* .jw-text-elapsed{display:none !important;} */
/*	.jw-background-color{background:red !important;}*/
			





